<head>
    <!--#include file="inc/head.html"-->
    <!-- present in head.html, but include again so that available in backup.zip file -->
    <link href="{% link assets/css/font-awesome.min.css %}" rel="stylesheet">
    <link href="{% link assets/css/digitalbitbox.css %}" rel="stylesheet">
</head>


<!---------------------------------------------------------------->


<body>

    <noscript class="js-notice"></noscript>
    <!--#include file="inc/navbar.html" -->
    <div id="splash-screen"></div>
    <div id="spinner"></div>


    <div class="container">

        <section id="backup-seed">
            <hr>
            <br>
            <br>

            <textarea id="backup-user-entropy" class="text-input" placeholder="create your own wallet from random words or data (optional)" rows="3" cols="44" wrap="hard" spellcheck="false"></textarea>
            <button id="backup-create-button" class="btn btn-default button-user-entropy"><i class="fa fa-long-arrow-down"></i> Create</button>
            <br>

            <textarea id="backup-entropy" class="text-input" placeholder="wallet backup" rows="2" cols="70" wrap="hard" spellcheck="false"></textarea>
            <br>
            <input type="password" id="backup-password" class="text-input" placeholder="password" size="19" value="" spellcheck="false"/>
            &nbsp;&nbsp;&nbsp;
            <button id="backup-generate-button" class="btn btn-default"><i class="fa fa-long-arrow-down"></i> Generate</button>
            &nbsp;&nbsp;&nbsp;
            <button id="backup-clear-button" class="btn btn-default"><i class="fa fa-eraser"></i> Clear</button>
            <br><br>

            <div class="placeholder">BIP32 extended master private key</div>
            <textarea id="backup-xpriv" class="text-input" rows="3" cols="70" wrap="hard" spellcheck="false" readonly></textarea>
            <br>

            <div class="placeholder">Bitcoin Electrum Legacy BIP44 recovery key</div>
            <textarea id="backup-electrum-btc-legacy" class="text-input" rows="3" cols="70" wrap="hard" spellcheck="false" readonly></textarea>
            <br>

            <div class="placeholder">Bitcoin Electrum p2sh-segwit BIP49 recovery key</div>
            <textarea id="backup-electrum-btc-segwit" class="text-input" rows="3" cols="70" wrap="hard" spellcheck="false" readonly></textarea>
            <br>

            <div class="placeholder">Bitcoin Electrum native-segwit BIP84 recovery key</div>
            <textarea id="backup-electrum-btc-native-segwit" class="text-input" rows="3" cols="70" wrap="hard" spellcheck="false" readonly></textarea>
            <br>

            <div class="placeholder">Bitcoin Electrum recovery key for a multisig wallet</div>
            <textarea id="backup-electrum-btc-multisig" class="text-input" rows="3" cols="70" wrap="hard" spellcheck="false" readonly></textarea>
            <br>

            <div class="placeholder">Litecoin Electrum Legacy BIP44 recovery key</div>
            <textarea id="backup-electrum-ltc-legacy" class="text-input" rows="3" cols="70" wrap="hard" spellcheck="false" readonly></textarea>
            <br>

            <div class="placeholder">Litecoin Electrum p2sh-segwit BIP49 recovery key</div>
            <textarea id="backup-electrum-ltc-segwit" class="text-input" rows="3" cols="70" wrap="hard" spellcheck="false" readonly></textarea>
            <br>

            <div class="placeholder">Litecoin Electrum native-segwit BIP84 recovery key</div>
            <textarea id="backup-electrum-ltc-native-segwit" class="text-input" rows="3" cols="70" wrap="hard" spellcheck="false" readonly></textarea>
            <br>


            <div class="placeholder">Ethereum private keys</div>
            <textarea id="backup-ethereum-private-keys" class="text-input" rows="5" cols="70" spellcheck="false" readonly></textarea>
            <br><br>

            <input type="text" id="backup-name" class="text-input" placeholder="wallet name" value="" spellcheck="false" />
            &nbsp;&nbsp;&nbsp;
            <button id="backup-export-button" class="btn btn-default"><i class="fa fa-download"></i> Export PDF</button>
        </section>


    </div>


    <!--#include file="inc/footer.html" -->


    <!-- JavaScript Files -->
    <script src="{% link assets/js/backup/jquery-1.11.3.min.js %}"></script> <!-- include again for backup.zip file -->
    <script src="{% link assets/js/backup/jquery-ui-fade.min.js %}"></script> <!-- http://jqueryui.com/download/ -->
    <script src="{% link assets/js/backup/base58check.js %}"></script>
    <script src="{% link assets/js/backup/sha512.js %}"></script>
    <script src="{% link assets/js/backup/bitcoin-min.js %}"></script>
    <script src="{% link assets/js/backup/bip32.js %}"></script>
    <script src="{% link assets/js/backup/bip39.js %}"></script>
    <script src="{% link assets/js/backup/backup.js %}"></script>


</body>
