<!--DESKPRO_EMBED_LOADER::BEGIN-->
<div id="deskpro_embed_form_container"></div>
<script type="text/javascript">
window.DESKPRO_EMBED_OPTIONS = {
    "helpdeskUrl": "https:\/\/support.shiftcrypto.ch",
    "containerId": "deskpro_embed_form_container",
    "type": "form",
    "language": "en-US",
    "department": 1,
    "hide_department": 1,
    "width": "500"
};
</script>
<script type="text/javascript" src="https://support.shiftcrypto.ch/dyn-assets/pub/build/embed_loader.js"></script>
<!--DESKPRO_EMBED_LOADER::END-->
